# Solana runtime
NEXT_PUBLIC_SOLANA_CLUSTER=devnet
NEXT_PUBLIC_SOLANA_RPC=https://api.devnet.solana.com
NEXT_PUBLIC_PROGRAM_ID=65VieGUg5tJEQDAHEgTLXqxVaKJWdQEnzAXyrdLuRt2K
# Optional alternate RPC alias used by some older tooling
NEXT_PUBLIC_HELIUS_URL=

# Cosmic CMS
COSMIC_BUCKET_SLUG=
COSMIC_READ_KEY=
COSMIC_WRITE_KEY=
